@import 'palette.css';

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  padding: 20px;
}

.top {
  background: linear-gradient(90deg, var(--main-bg-color), var(--first-secondary-color));
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px var(--container-shadow);
  user-select: none;
}

.bottom {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

/*Input box*/
input[type="text"] {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  width: 70%;
  margin-top: 10px;
  transition: border 0.3s;
  background-color: var(--input-bg-color);
  color: var(--text-color);
}

input[type="text"]:focus {
  border-color: var(--second-secondary-color);
  outline: none;
}

/*Button*/
button {
  padding: 10px 20px;
  background-color: var(--first-secondary-color);
  color: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--second-secondary-color);
}

/*Logo*/
.logo-container {
  position: absolute;
  top: 20px;
  left: 45px;
  z-index: 2; /* to ensure the logo is above other elements */
}

.logo {
  height: 100px; 
  width: auto;
}

/*Navigation Bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: var(--main-bg-color);
  box-shadow: 0px 4px 10px var(--container-shadow);
  position: absolute;
  top: 40px;
  right: 45px;
  z-index: 1;
  border-radius: 5px;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: var(--first-secondary-color);
  margin: 0 20px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--second-secondary-color);
}
.navbar a.active {
  border-bottom: 3px solid var(--first-secondary-color); 
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--second-secondary-color);
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.navbar a:hover::after, .navbar a.active::after {
  width: 100%;
}

/*Button*/
button:hover {
  transform: scale(1.05);
  background-color: var(--second-secondary-color);
}

button:active {
  transform: scale(0.95);
  background-color: var(--main-bg-color);
}

.top {

  background: linear-gradient(-45deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3), var(--gradient-color-4));
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#canvas {
  width: 40%;
  height: 120px; 
  background-color: var(--bg-music-canvas);
}

#transitionState {
  font-size: 20px;
  font-weight: bold;
  color: var(--transition-color);
  margin: 20px 0;
}


/* Music bar*/
.music-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
#music-info {
  font-size: 17px;
  flex-grow: 1; 
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
#play-pause-btn {
  font-size: 20px;
  text-align: center;
  margin-top:auto;
  margin-bottom:auto;
}
#rewind-btn {
  font-size: 15px;
  margin-left: 0px;
  margin-right: 10px;
  text-align: center;
  margin-top:auto;
  margin-bottom:auto;
}
#forward-btn {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 30px;
  text-align: center;
  margin-top:auto;
  margin-bottom:auto;
}
#downloadBtn {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 30px;
  text-align: center;
  margin-top:auto;
  margin-bottom:auto;
}

#song-progress {
  width: 100%; 
  height: 10px;
  background-color: var(--main-bg-color);
  position: relative;
}
#song-progress-bar {
  height: 10px; 
  background-color: var(--text-color);
  position: absolute; 
  width: 0;
}
#current-time {
  margin-left: 25px;
  margin-right: 25px;
}

#volume {
  display: flex;
  width: 150px;
  margin-left: 0px;
  margin-right: 30px;
}